celery==4.3.0
click==7.0
Cython==0.29.11
image==1.5.27
kombu==4.4.0
pip>=19.1.1
pymongo==3.8.0
redis==3.2.1
rejson==0.4.0
schematics==2.1.0
Scrapy==1.6.0
scrapyd==1.2.1
scrapyrt==0.10
scrapy-redis==0.6.8
scrapy-rotating-proxies==0.6.1
scrapy-splash==0.7.2
Scrapy-UserAgents==0.0.1
spidermon==1.10.0
Twisted==22.4.0
