# Cache

__pycache__/
*.py[cod]

# IntelliJ

.idea/

# Scrapy

Include/*
Lib/*
Scripts/*
fifa_data/.scrapy/*
fifa_data/full/
fifa_data/pause_resume/
pause_resume/*
logs/*
tcl/*
*.txt
*.json

# Scrapyd

dbs/*
eggs/*
fifa_data/build/*
fifa_data/project.egg-info/*

# Docker

data/*
Docker/.circleci/*
Docker/.gitignore
Docker/LICENSE
Docker/README.md
Docker/dags/tuto.py
# Vim

tags
*.swp
